<h3>Make a bet for this round.</h3>
<%= #{params[:name]} %> has $500.
<form action="/game" method="post">
  <input type="text" name="bet_amount">
  <input type="submit" class="btn" value="Make Bet">
</form>