<center>
  <h3>Oops!...</h3>
  <p>We can't find the page you're looking for.
  Let's <a style= "color:blue" href='/new_game'> Start Over</a> or go <a  style="color:blue" href="javascript:history.back()">Back</a> and try again.</p>
</center>