img {
  width: 10%;
  height: auto;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

.buttons {
  float: right;
  position: relative;
  top: -155px;
  left: 100px;
  font-weight:bold;
}

* {
  color: black;
}

.table-hover {
  float: right;
  height: 20px;
  width: 20px;
}

.cards {
  padding: 2px 2px 2px 2px;
}

.hit_stay_buttons {
  float: right;
  position: relative;
  top: -250px;
}

.block {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 40%;
  margin-left: -50px;
  margin-top: -25px;
}