img {
  width: 10%;
  height: auto;
}

.buttons {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  float: right;
}

body {
  <!-- background-color: green; -->
}

.table-hover {
  float: right;
  height: 20px;
  width: 20px;
}

.right {
  float: right;
}